@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  width: 100vw;
  height: 100vh;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.main-holder{
  width: 100vw;
  height: 100vh;
}

/* Login page */
.loginDiv{
  width: 50%;
}

.networthCard{
  padding-top: 0 !important;
}


